.profilePostContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 25px;
    overflow: auto;
    height: 300px;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.sidePanelMenus::-webkit-scrollbar { /* Chrome, Safari, and Opera */
    display: none;
}
.profilePost{    
    border: 1px solid red;
    border-radius: 5px;
    margin: 50px 10px 20px 10px;
    height: 220px;
    width: 180px;
}
.profilePostImg{
    height: 100%;
    width: 100%;
}