.profileParent {
    display: flex;
    background-color: black;
    color: white;
    height: 113vh;
    width: 100%;
    gap: 0px;
}
.Parentprofile{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}
.MediaInfo{
    margin: -50px 60px;
}

.ProfileImg {
    border: 2px solid white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 50px;
    display: flex;
    cursor: pointer;

}

.Username {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    font-style: 20px;
}
.userInfo{
    display: flex;
}

.Button {
    width: 120px;
    border-radius: 5px;
    background-color: rgb(68, 63, 63);
    text-align: center;
    margin: 0px 12px;
    padding: 3px;
    color: white;
    font-size: 16px;


}

.SettingIocn {
    cursor: pointer;
}

.Followers {
    display: flex;
    font-size: 16px;
    gap: 25px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.Ninganna {
    font-size: 14px;
    padding: 10px;
    margin-top: 18px;
    cursor: pointer;

}

.NewIcon {
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
}

.New {
    font-size: 12px;
    margin: 12px;
}

.ProfileIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    cursor: pointer;
}

.ProfileIcons span {
    margin: 0px 160px 0px 10px;
}
.profileContainers{  
    width: 82%;
    margin-left: 18%;
}